<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>20231HealthCare_HealthCareSystem</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
    <welcome-file>sign.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>HealthCare.process.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>HealthCare.servlet.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>HealthCare.servlet.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelAppointment</display-name>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>HealthCare.servlet.CancelAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAppointment</servlet-name>
    <url-pattern>/CancelAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterControl</display-name>
    <servlet-name>RegisterControl</servlet-name>
    <servlet-class>HealthCare.servlet.RegisterControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterControl</servlet-name>
    <url-pattern>/RegisterControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfile</display-name>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>HealthCare.servlet.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorDashboard</display-name>
    <servlet-name>DoctorDashboard</servlet-name>
    <servlet-class>HealthCare.servlet.DoctorDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorDashboard</servlet-name>
    <url-pattern>/DoctorDashboard</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>DoctorProfile</display-name>
    <servlet-name>DoctorProfile</servlet-name>
    <servlet-class>HealthCare.servlet.DoctorProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorProfile</servlet-name>
    <url-pattern>/DoctorProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusAppointment</display-name>
    <servlet-name>StatusAppointment</servlet-name>
    <servlet-class>HealthCare.servlet.StatusAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusAppointment</servlet-name>
    <url-pattern>/StatusAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControl</display-name>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>HealthCare.servlet.LogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControl</servlet-name>
    <url-pattern>/LogoutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminSpecialityEdit</display-name>
    <servlet-name>adminSpecialityEdit</servlet-name>
    <servlet-class>HealthCare.servlet.adminSpecialityEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSpecialityEdit</servlet-name>
    <url-pattern>/adminSpecialityEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminSpecialityDelete</display-name>
    <servlet-name>adminSpecialityDelete</servlet-name>
    <servlet-class>HealthCare.servlet.adminSpecialityDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSpecialityDelete</servlet-name>
    <url-pattern>/adminSpecialityDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminSpecialityAdd</display-name>
    <servlet-name>adminSpecialityAdd</servlet-name>
    <servlet-class>HealthCare.servlet.adminSpecialityAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSpecialityAdd</servlet-name>
    <url-pattern>/adminSpecialityAdd</url-pattern>
  </servlet-mapping>
</web-app>